.header-title h1 {
  text-align: center;
  margin: 15px auto;
  font-weight: 500;
}

.spacing-div {
  margin: 40px 0px;
}

/* CATEGORIES CSS */

.categories {
  padding: 2rem;
}

.categories > ul {
  list-style-type: none;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.categories > ul > li {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.categories > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  position: relative;
}

.categories > ul > li > figure > img {
  width: 100%;
}

.categories > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(250, 208, 196, 0.9);
  width: 100%;
}

.categories > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

/* CONTACT CSS */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: lightblue;
  font-size: 14px;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  font-size: 18px;
  background-color: lightblue;
}

.header-contact {
  padding-bottom: 20px;
}
.container-contact {
  width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
